body {
    color: #323232;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: #DBDBDB;
}

.table {
    display:table;
}

img {
    border:0;
}

.fleft {
    float:left;
}

.center {
    text-align:center;
    margin:auto;
}

.center * {
    margin:auto;
}

.right {
    text-align:right;
}

.left {
    text-align:left;
}

#content {
    background-color: #323232;
    background-repeat: repeat;
    background-size: 2048px 1154px;
    background-position:bottom left;
    padding:0;
    margin:0;
    border-bottom:1px solid #DBDBDB;
    min-height:320px;
}

.avatar {
    margin: 5px;
    float:left;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: #67EFC6;
    transition:color ease-in 250ms, background-color ease-in 250ms;
}

a:hover {
    color: #a20000;
}

#container {
    min-height: 600px;
}

#header {
    background: #151515;
    padding: 20px;

    text-transform: uppercase;
    
    color: #EB0000;
    font-family: Hafestran;
    font-weight: bold;
    font-size: 28px;
}

@font-face {
  font-family: Hafestran;
  src: url("https://lwflouisa.github.io/HafestranFont/Font/HafestranFont-Regular.otf");
}

#title {
    background: #151515;
    padding: 20px;

    text-transform: lowercase;
    
    color: #EB0000;
    font-family: Hafestran;
    font-weight: bold;
    font-size: 58px;
    
    text-align: center;
}

#navbar {
    background: #202020;
    padding: 0px;
    padding-left:15px;
    padding-bottom: 5px;
    text-align: center;
    border-left: 20px solid #DBDBDB;
}

#navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#navigation li {
    display: inline;
}

#navigation li a {
    padding: 15px;
    margin:0;
    margin-top: 5px;
    background: #990000;
    
    color: #EB0000;
    display: inline-block;
    
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

#navigation li a:hover {
    background: #DBDBDB;
}

#comic {
    margin: 10px;
    float: left;
    background-color: #151515;
    padding:10px;
    max-width:calc(100% - 260px);
}

#comicimage, #latestcomicimage,.comicsegmentimage {
    max-width:100%;
    height:auto;
}

.comicsegments {
    text-align:center;
}

.comicsegments {
    line-height:0; /*this is to prevent there from being space between the images on multi-image pages*/
}
.comicsegments .textcontent {
    line-height:normal;
}

#sidebar {
    width: 200px;
    float: left;
    margin-top: 10px;
}

#sidebarnav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h1 {
    display: block;
    background: #151515;
    width: 150px;
    padding: 10px;
    font-weight: normal;

    color: #EB0000;
    font-style: monospace;
    font-weight: bold;
    font-size: 16px;
}

#top, #bottom {
    padding: 10px;
    background: #323232;
}

#top {
    position: relative;
}

#bottomhalfwrap {
    clear: both;
    width: 600px;
    text-align: center;
}

#comicnavigation {
    padding: 15px;
    width: 600px;
}

#comicnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#comicnav li {
    display: inline;
}

#comicnav li a {
    background: #679573;
    
    text-transform: lowercase;
    
    font-family: monospace;
    font-size: 12px;
    
    padding: 15px;
    color: #DBDBDB;
    text-transform: lowercase;
}

#comicnav li a:hover {
    background: #7E9567;
}

.blogcommentform,
.postcommentwrap {
    text-align: center;
    margin: 20px auto;
    max-width:600px;
}

#commentform {
    background: #323232;
    padding: 5px;
    box-sizing:border-box;
}

.blogcommentform {
    margin:20px auto;
}

.postcomment {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.postcomment li {
    display: inline;
}

.postcomment li a {
    display:inline-block;
    color: #DBDBDB;
    background: #323232;
    padding: 10px;
    width: 100px;
    border: 1px solid #DBDBDB;
    transition:border-color ease-in 250ms;
}

.postcomment li a:hover {
    border-color: #323232;
}

#allcommentwraps {
    text-align: center;
    margin: 10px;
    width: 600px;
}

.authorcomments,.extrapage, .pagelist {
    background: #151515;
    width: 400px;
    padding: 20px;
    text-align: left;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom:10px;

    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
}

.authorcomments, .extrapage {
    min-height: 125px;
}

.reply {
    margin-left:120px;
}

.extrapage {
    margin:0 auto;
}

.epborder {
    padding:10px;
}

h2 {
    margin: 0px;
    

    color: #EB0000;
    font-style: monospace;
    font-weight: bold;
    font-size: 14px;
}

h3 {
    margin: 0px;
    
    color: #EB0000;
    font-style: monospace;
    font-weight: bold;
    font-size: 12px;
}

#footer {
    background: #151515;
    color: #DBDBDB;
    padding: 5px;
    margin:0;
    text-align: center;
}

tr, td, table {
    font: monospace;
    text-transform: lowercase;

    color: #67EFC6;
    font-weight: bold;
    font-size: 12px;
}

.chaptertitle {
    text-align:center;
}

.chaptertitle td {
    border-bottom:1px solid #222;
    border-top:1px solid #222;
}

.chaptertitle h3 {
    margin:4px;
}

.chapterdescription {
    font-size:11px;
}

#searchbar {
    margin:10px auto;
    text-align:center;
}

#searchbar input {
    border:1px solid #DBDBDB;
    color:white;
    background-color: #323232;
}

#searchbar input:hover {
    background-color:#111;
}

#searchbar input.submit:hover {
    background-color:#222;
}

.permalinks {
    margin-top:8px;
}

.permalinkcode {
    width:98%;
    height:45px;
    border:1px solid black;
    background-color:#333;
    color:#EEE;
    font-face:lucida console, monospace;
    font-size:10px;
    overflow-x:hidden;
}

.plcwrap {
    text-align:center;
}

#saveplace {
    margin-top:5px;
}

.p {
    margin-top:8px;
    margin-bottom:8px;
}

.clear {
    clear:both;
}

.postblogcomment {
    text-align:center;
    margin:20px;
}


.blognav {
    margin-bottom:5px;
    display:table;
    width:100%;
}

.prevblog, .nextblog {
    display:table-cell;
    width:50%;
}

.prevblog {
    text-align:left;
}

.nextblog {
    text-align:right;
}

.blogarchivelink {
    text-align:right;
    float:right;
}

.pagelink, .pageskip {
    font-size:1.4em;
    margin-left:7px;
}

.currentpage {
    font-size:1.4em;
}

.overviewcomic {
    margin:auto;
    display:table;
}
